* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.paddle {
  width: 15px;
  height: 200px;
  background-color: white;
}

#leftPaddle {
  float: left;
  position: relative;
}

#rightPaddle {
  float: right;
  position: relative;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
}


#scoreboard {
  width: 50%;
  height: 20%;
  margin: auto;
  text-align: center;
  font-size: 750%;
}

#leftScore {
  color: white;
  float: left;
}

#rightScore {
  color: white;
  float: right;
}

#score {
  transition: 0.5s all;
  z-index: -1;
}
