@font-face {
  font-family: BinancePlex;
  src: url("BinancePlex-SemiBold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: BinancePlex;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(20, 21, 26);
  overflow: hidden;
}

.paddle {
  width: 15px;
  height: 200px;
  background-color: rgb(202, 206, 211);
}

#leftPaddle {
  float: left;
  position: relative;
}

#rightPaddle {
  float: right;
  position: relative;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: rgb(202, 206, 211);
  border-radius: 50%;
  position: absolute;
}

#scoreboard {
  width: 50%;
  height: 20%;
  margin: auto;
  text-align: center;
  font-size: 750%;
}

#leftScore {
  color: rgb(202, 206, 211);
  float: left;
}

#rightScore {
  color: rgb(202, 206, 211);
  float: right;
}

#score {
  visibility: hidden;
  color: rgb(202, 206, 211);
}

.buttons {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 10px;
}

button {
  font-weight: bold;
  background-color: rgb(202, 206, 211);
  border: none;
  color: black;
  padding: 25px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 3px;
  cursor: pointer;
}

.play-pause {
  font-size: 36px;
  color: rgb(202, 206, 211);
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

#pause {
  visibility: hidden;
}

#play,
#pause {
  position: absolute;
  opacity: 50%;
}

#play:hover,
#pause:hover {
  opacity: 100%;
}
