* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.paddle {
  width: 15px;
  height: 200px;
  background-color: white;
}

#leftPaddle {
  float: left;
  position: relative;
}

#rightPaddle {
  float: right;
  position: relative;
}

#ball {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 50%;
}

#line {
  width: 0;
  height: 100%;
  border: 1px dashed white;
  position: absolute;
  left: 50%;
}

#scoreboard {
  width: 50%;
  height: 20%;
  margin: auto;
  text-align: center;
}

#leftScore,
#rightScore {
  color: white;
  font-size: 750%;
  margin-top: 5%;
}

#leftScore {
  float: left;
}

#rightScore {
  float: right;
}

#score {
  display: inline-flex;
  width:100%;
  font-size: 750%;
  transition: 0.5s all;
  z-index: -1;
  margin-top:-5%;
  justify-content:center;
}
